@import "../../Constats/constats.scss";

.pagination {
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ant-pagination.mini .ant-pagination-item {
  font-size: 12px;
  margin: 0px 0.25rem;
  color: $textColor;
}

.ant-pagination-item-active {
  border-radius: 5px;
  background-color: $primaryColor;
}

.ant-pagination-item-active a {
  color: $contBackground;
}
