@import "../../Constats/constats.scss";

* {
  font-family: "Inter", sans-serif;
}

.app {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: $bodyBackground;
  width: 100%;
}

.wrapper {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  background-color: $contBackground;
}
