.card__rating {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.ant-rate li {
  font-size: 16px;
}

.ant-rate li:not(:last-child) {
  margin-right: 7px;
}

@media (max-width: 768px) {
  .ant-rate li:not(:last-child) {
    margin-right: 0.9rem;
  }
}
