@import "../../Constats/constats.scss";

.card {
  flex: 0 0 48%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 12px 0px lightgrey;
  margin-top: 2.5rem;
}

.card__image {
  width: 40%;
  border: 1px solid $borderColor;
  margin: 2px;
}

.card__description {
  width: 60%;
  position: relative;
  overflow: hidden;
}

.description__content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.description__title {
  width: 85%;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 3.5px;
}

.film__rating {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 12px;
  border-radius: 50%;
}

.film__rating.good {
  border: 2px solid #66e900;
}

.film__rating.norm {
  border: 2px solid #e9d100;
}

.film__rating.middle {
  border: 2px solid #e97e00;
}

.film__rating.bad {
  border: 2px solid #e90000;
}

.film__rating span {
  font-size: 12px;
  display: block;
  transform: translate(-6.5px, -6px);
}

.released {
  margin: 3.5px 0px;
}

.released--date {
  font-size: 12px;
  color: #827e7e;
  margin: 3.5px 0px;
}

.description__text {
  margin-top: 3.5px;
  margin-bottom: 50px;
}

.description__text p {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.2px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 100%;
  }
}
