@import "../../Constats/constats.scss";

.card {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 12px 0px lightgrey;
}

.card__image {
  width: 40%;
  border: 1px solid grey;
  margin: 2px;
}

.card__description {
  width: 60%;
  position: relative;
  overflow: hidden;
}

.description__content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.description__title {
  width: 85%;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 3.5px;
}

.film__rating {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 12px;
  border: 2px solid #e9d100;
  border-radius: 50%;
}

.film__rating span {
  font-size: 12px;
  display: block;
  transform: translate(-6.5px, -6px);
}

.released {
  margin: 3.5px 0px;
}

.released--date {
  font-size: 12px;
  color: #827e7e;
  margin: 3.5px 0px;
}

.description__genre ul {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.description__text {
  margin-top: 3.5px;
  margin-bottom: 50px;
}

.description__text p {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.2px;
  padding-right: 10px;
}

.card__rating {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.ant-rate li {
  font-size: 16px;
}

.ant-rate li:not(:last-child) {
  margin-right: 7px;
}
