@import "../../Constats/constats.scss";

.header__tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}

.header__tab {
  padding: 1rem;
  position: relative;
  border-bottom: 2px solid $borderColor;
}

.header__tab label {
  cursor: pointer;
}

.header__tab input {
  display: none;
}
